<footer class="footer h-card" role="contentinfo">
    <div class="footer__inner container">
        <p class="footer__item">
            <strong>&copy; {{ build.timestamp | dateToFormat('yyyy') }}</strong><br />
            <a class="p-name u-url" rel="me" href="{{ site.url }}">{{ author.name }}</a>
        </p>

        <p class="footer__item">
            <strong>Let's chat</strong><br />
          <a href="https://calendly.com/jaffamonkeyltd/intro-call" target="_blank">Book a meeting</a> | <a href="mailto:paullittlebury@jaffamonkey.com">Email us</a>
        </p>

        {# <p class="footer__item">
            <strong>Social</strong><br />
            <a href="{{ author.social.mastodon.url }}" title="Mastodon" rel="me" >Mastodon</a> / 
            <a href="{{ author.social.github.url }}" title="Github" rel="me">Github</a>
        </p> #}

        <p class="footer__item">
            <strong>Legal</strong><br />
            <a href="/privacy/">Privacy Policy</a>
        </p>

        <p class="footer__item">
            <strong>Credits</strong><br />
            <a href="https://github.com/maxboeck/mxb">Theme from Max Böck</a>
        </p>

        {# <p class="footer__item footer__item--right u-desktop-only"> #}
        <p class="footer__item footer__item--right">
            <a href="https://elegant-biscotti-25e1e9.netlify.app/sample/" class="footer__speedlify">
                {# <speedlify-score speedlify-url="https://elegant-biscotti-25e1e9.netlify.app/sample" hash="7dda0135" score weight></speedlify-score> #}
                <speedlify-score speedlify-url="https://elegant-biscotti-25e1e9.netlify.app" hash="b8daaf45" score weight></speedlify-score>
            </a>
        </p>

        <p class="footer__item footer__item--right">
            <a href="{{ site.repo }}" class="footer__icon" title="Github">
                {# <span class="sr-only">Edit this page on Github</span> #}
                {% icon "github" %}
            </a>
            <a href="{{ "/feed.xml" | url }}" class="footer__icon" title="RSS Feed">
                <span class="sr-only">RSS Feed</span>
                {% icon "feed" %}
            </a>
        </p>

    </div>
</footer>