---
layout: base
tags: nav
title: About Me
eleventyNavigation:
  key: About
  order: 4
permalink: /about/
---

<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">About</h1>
    </header>
    <div class="page__content page__content--fullwidth">
        <div
            class="about">
            {# <div class="about__header">
                            {<div class="about__photo">
                                <img class="responsive-image js-responsive-image" src="{{ '/assets/images/800.jpg' | url }}" srcset="{{ '/assets/images/800.jpg' | url }} 800w, {{ '/assets/images/1600.jpg' | url }} 1600w" sizes="(min-width: 940px) 40vw, 100vw" alt="jaffamonkey"/>
                            </div>
                            <div class="about__intro lead">
                                {% callout "info" %} 25 years providing testing and quality assurance services on well over 100 projects, for 60+ clients. I combine the disciplines of test engineering and quality assurance to provide a more rounded contribution toproject quality.
                                {% endcallout %}
                            </div>
                        </div> #}
            <div class="about__content markdown">
                <div class="callout callout--tip">
                    <span class="callout__icon">
                        <svg class="icon icon--lightbulb" role="img" aria-hidden="true" width="24" height="24">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.sprite.svg#icon-lightbulb"></use>
                        </svg>
                    </span>
                    <div class="callout__content">
                        <p>25 years providing testing and quality assurance services.</p>
                    </div>
                </div>
                <p>I provide testing and quality assurances services, and have experience in a wide range of industries. I wear transparency on my sleeve, and developed approach that evolved from contract work at over 55 companies, from seed start-ups to global corporations in both testing and management capacities.</p>

                <p>I have worked with hundreds of developers, and learnt the importance of a synergy between development and testing. Commonly in contract I am THE Quality person, and as such very adept at communicating on different levels. Whether guiding Business Analsyts in writing Gherkin requirement specifications, or discussing with DevOps about testing in CI pipeline.</p>

                <p>A terminal geek, I am always seeking out new automation frameworks in opensource world and new ways of testing. Opensource can be a bewildering world, especailly now that marketing-speak has heavily entered that world. I have over 20 years experience, fingers burnt more than once, and my approach automation is to start lean, then build on that.<p/>

                <p>I am adept at introducing quality measures into projects, at ALL stages of development. I have been on some rollercoaster project rides, and you can benefit from that experience. Whilst I am creative with my approach, I am strongly rooted in reality - a safe "port in a storm".</p>
                    <div class="callout callout--tip">
                        <span class="callout__icon">
                            <svg class="icon icon--lightbulb" role="img" aria-hidden="true" width="24" height="24">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.sprite.svg#icon-lightbulb"></use>
                            </svg>
                        </span>
                        <div class="callout__content">
                            <p>while we will never achieve 100% quality, there is no harm in aspiring to it - this naturally drives continuous
                                improvement.</p>
                        </div>
                    </div>
                    <h2>Key skills</h2>
                    <ul>
                        <li>Quality Engineering from Design to Production.</li>
                        <li>Test Engineering in CI/CD pipelines.</li>
                        <li>Performance testing to ensure apps are both secure and stable./li>
                            <li>Test Architecture/Frameworks</li>
                            <li>Tester Coaching</li>
                            <li>Accessibility reviews and automation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>