---
layout: base
eleventyNavigation:
  key: Home
  order: 1
permalink: /
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">Testing from Design to Production</h1>
        <p class="hero__pretitle"><a href="/about/">“I’ve never heard of you.” ~ An Agile coach</a></p>
        <blockquote>Test strategies to help you implement new approaches across teams. Test architecture and implementation within your CI/CD pipelines. Process improvements to enable more efficient testing from Sprint to Sprint. Accessibilty audits and strategy.</blockquote>
    </div>
</div>

{% if collections.featured.length %}
<div class="u-mb4">
    {% include "featuredposts.njk" %}
</div>
{% endif %}
