---
layout: base
eleventyNavigation:
  key: Home
  order: 1
permalink: /
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">Testing from design to production</h1>
        <p class="hero__pretitle"><a href="/about/">“I’ve never heard of you.” ~ An Agile coach</a></p>
        <blockquote>Testing strategies to help you implement new approaches across teams. Test engineering architecture and implementation within your CI/CD pipelines. Process improvements to enable more efficient testing from Sprint to Sprint. Accessibilty audits and test improvements.</blockquote>
    </div>
</div>

{% if collections.featured.length %}
<div class="u-mb4">
    <h2>Services</h2>
    {% include "featuredposts.njk" %}
</div>
{% endif %}

{# 
<div class="u-mb4">
    {% signup %}
    I'm starting an email list for people interested in front-end development! 
    You can join here to be notified first whenever new posts are published. 
    I'll send emails about once a month and you can unsubscribe any time.
    {% endsignup %}
</div> 
#}